<div class="nested-fields">
  <div class="field">
    <%= f.text_field :description, placeholder: "Description" %>
    <%= f.text_field :price, placeholder: "Price" %>
  </div>
  <%= link_to_remove_association "remove line", f %>
</div>
