<nav class="footer navbar fixed-bottom navbar-light bg-light">
  <div class="content-container text-center">
    <%= link_to image_tag("logomark.svg"), "http://www.mysite.com/", class: "navbar-brand footer-logo" %> <br>
    <!-- <a class="navbar-brand" href="#">info@invoicer.io</a> <br> -->
    <a class="navbar-brand" href="#">Terms of Use</a>
    <a class="navbar-brand" href="#">Privacy Policy</a>
  </div>
</nav>
