<div class="col-sm-12 text-center">
  <div class="header">
    <h1>An essential invoicing tool for busy people.</h1>
    <h2>Send beautiful & easy-to-pay invoices right to your client’s inbox in only one minute.</h2>
  </div>
</div>
<div class="row">
  <div class="app-preview col-md-6 mr-auto ml-auto text-center">.col-md-6 .col-md-offset-3</div>
</div>
