@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Roboto:300,400,700');


body {
  min-height:100%;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}
h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1em;
}
h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1em;
}
p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 0.9em;
}
.app-preview-table {
  width: 75%;
  margin: 0 auto;
}

.my-button-primary {
  background-color: #A9F489;
  padding: 15px 50px;
  border-radius: 8px;
  color: black;
  display: inline-block;
  margin-top: 10px;
}
.my-button-secondary {
  border: 2px solid #A9F489;
  padding: 13px 48px;
  border-radius: 8px;
  color: black;
  display: inline-block;
  margin-top: 10px;
}

.my-button-primary-button {
  background-color: #A9F489;
  padding: 10px 50px;
  border-radius: 8px;
  color: black;
  border: none;
  margin-top: 25px;
}

.content-container {
  max-width: 1200px;
  margin: 0 auto;
  // border: 2px solid blue;
}

.top-nav {
  margin-top: 20px;
  margin-bottom: 80px;
}

.footer {
  height: 250px;
  margin-top: 100px;
  bottom: 0;
  clear: both;
  position: relative;
  z-index: 10;
  margin-top: 150px;
}

.footer .navbar-brand {
  color: lightgray;
  font-size: 0.8em;
}

.footer-logo {
  margin-top: 40px;
  margin-bottom: 60px;
}

.header {
  margin-bottom: 120px;
}
.header h1 {
  margin-bottom: 20px;
}

.app-preview {
  border-radius: 10px;
  border: 4px solid #A9F489;
  margin-bottom:10px;
  background-color: #FCFCFC;
}
.app-preview-parent {
  margin: 0 25px 25px;
}
.app-preview-logo {
  margin: 50px 0 50px;
}
.app-preview-message {
  font-weight: 700;
}
.app-preview-table {
  margin-top: 80px;
}
.app-preview-tax {
  color: lightgray;
}
.app-preview-button {
  margin: 50px 0;
}
.app-preview-price {
  font-size: 2em;
  font-weight: 400;
  margin-top: 60px;
}
.app-preview-button {
  margin-bottom: 80px;
}
.feature {
  padding: 10px 60px;
}
.feature-icon {
  margin-bottom: 40px;
  margin-top: 40px;
  height: 60px;
}




.sign-in {
  margin: 0 auto;
  border-radius: 10px;
  border: 4px solid #A9F489;
  background-color: #FCFCFC;
  display: table;
  padding: 60px 100px;
}

.session-heading {
  margin-bottom: 50px;
}
// .session-field {
//   width: 100%;
// }

// .invoice-table {
//   max-width: 1000px;
//   margin: 0 auto;
// }
.page-container {
  max-width: 1000px;
  margin: 0 auto;
}

.page-heading {
  margin-bottom: 50px;
}
